{#
/**
 * @file engagement_response.html.twig
 * Default theme implementation to present Engagement response data.
 *
 * This template is used when viewing Engagement response pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_engagement_response()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('engagement_response') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
